<header>
    <nav>
        <h2><a [routerLink]="['/', currentLang]">Giorgi Tskipurishvili</a></h2>
        <div class="internal-links" [class.open]="isMenuOpen">
            <!-- <a href="">Home</a>
            <a href="/experience">Experience</a>
            <a href="/skills">Skills</a>
            <a href="/education">Education</a> -->
            <!-- <a [routerLink]="['/', currentLang]" (click)="closeMenu()">Home</a> -->
            <!-- <a [routerLink]="['/', currentLang, 'experience']" (click)="closeMenu()">Experience</a> -->
            <a [routerLink]="['/', currentLang, 'experience']" (click)="navigate('experience')">{{ 'Header.experience' | translate }}</a>
            <a [routerLink]="['/', currentLang, 'projects']" (click)="navigate('projects')">{{ 'Header.projects' | translate }}</a>
            <a [routerLink]="['/', currentLang, 'skills']" (click)="navigate('skills')">{{ 'Header.skills' | translate }}</a>
            <a [routerLink]="['/', currentLang, 'education']" (click)="navigate('education' )">{{ 'Header.education' | translate }}</a>
            <a [routerLink]="['/', currentLang, 'contact']" (click)="navigate('contact' )">{{ 'Header.contact' | translate }}</a>

            <!-- <div class="language-button" [class.open]="isMenuOpen">
                <app-language-button [isMenuOpen]="isMenuOpen"></app-language-button>
            </div> -->

             <app-language-button [isMenuOpen]="isMenuOpen"></app-language-button>

         

        </div>


        <button class="menu-btn" (click)="toggleMenu()">
        @if (!isMenuOpen) {
            <span>&#9776;</span> 
        } @else {
            <span>&#10005;</span> 
        }
        </button>
    </nav>
</header>