<div class="skills-container">
    <div class="technical-skills">
        <h1>💻 {{ 'Skills.TechnicalSkills.TechnicalSkills' | translate }}</h1>
        <div class="technical-items">
            <ul>
                <li><span style="font-weight: bold;">{{ 'Skills.TechnicalSkills.ProgrammingLanguages' | translate }}: </span>C#, TypeScript, Java</li>
                <li><span style="font-weight: bold;">{{ 'Skills.TechnicalSkills.WebProgramming' | translate }}: </span>HTML,CSS, Angular Framework, ASP.NET Core Web API</li>
                <li><span style="font-weight: bold;">{{ 'Skills.TechnicalSkills.Databases' | translate }}: </span>Oracle, MySQL, SQLite, MS SQL</li>
                <li><span style="font-weight: bold;">{{ 'Skills.TechnicalSkills.OperatingSystems' | translate }}: </span>Linux, Windows Server </li>
                <li><span style="font-weight: bold;">{{ 'Skills.TechnicalSkills.VersionControl' | translate }}: </span> Git, GitHub</li>
                <li><span style="font-weight: bold;">{{ 'Skills.TechnicalSkills.IDEs' | translate }}: </span> IntelliJ IDEA, Oracle PL/SQL Developer, Visual Studio Code, PyCharm, Visual Studio, Microsoft SQL Server Management Studio</li>
            </ul>
        </div>
    </div>

    <div class="soft-skills">
        <h1>🤝 {{ 'Skills.SoftSkills.SoftSkills' | translate }}</h1>
        <div class="technical-items">
            <ul>
                @for (item of ('Skills.SoftSkills.SkillsList' | translate ); track $index) {
                    <li>{{ item}}</li>
                }
            </ul>
        </div>
    </div>

    <div class="languages">
        <h1>🌍 {{ 'Skills.LanguageSkills.Languages' | translate }}</h1>
        <div class="language-items">
            <ul>
                @for (item of ('Skills.LanguageSkills.LanguagesList' | translate ); track $index) {
                    <li [innerHTML]="item">{{ item}}</li>
                }
            </ul>
        </div>
    </div>
</div>