@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;

  --text: #0f172a;
  --muted: #64748b;

  --bg: #f8fafc;
  --white: #ffffff;

  --border: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
}


h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  color: var(--muted);
  line-height: 1.7;
}


.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1.5rem;
}


a, button {
  transition: all 0.25s ease;
}